<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'main:index' %}" class="nav-link px-2 link-secondary">Главная</a></li>
        <li><a href="{% url 'main:create_docs' %}" class="nav-link px-2">Новый документ</a></li>
        <li><a href="{% url 'main:create_organisation' %}" class="nav-link px-2">Добавить организацию</a></li>
    </ul>

    <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
            <span class="me-2">{{ user.username }}</span>
            <a href="{% url 'main:logout' %}" type="button" class="btn btn-outline-danger me-2">Выйти</a>
        {% else %}
            <a href="{% url 'main:login' %}" type="button" class="btn btn-outline-primary me-2">Войти</a>
        {% endif %}
    </div>
</header>